      .flex-table{
        overflow: visible;
        font-size: 1.2em;
      } 

      /*mobile first */
      .table-head {
        display: none;
      }
     .flex-table .table-body {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      .flex-table .table-body .row {
        display: block;
        margin-bottom: 3em;
        border: dotted 3px blue;
      }
      .flex-table .table-body dl.mhead {
      }
      .flex-table .table-body dl.mhead dt {
        display: none;
      }
      .flex-table .table-body dl.mhead dd {
        width: 100%;
      }
      .flex-table .table-body dl {
        border: double 3px yellow;
      } 

      .flex-table .table-body dt {
        background-color: lime;
      } 
      .flex-table .table-body dd {
        background-color: aqua;
      }

      .flex-table .table-body dd, 
      .flex-table .table-body  dt {
        display: inline-block;
        margin: 0;
        width: 48%;
        vertical-align: top;
        padding: 0.61805em 1em;
        font-size: 1.2em;
        word-break: break-all;
      }

      @media(min-width: 980px)  {
        .flex-table .table-head {
          display: block;
          width: 100%;
          list-style-type: none;
          margin: 0;
          padding: 0.61805em 1em;
          background-color: purple;
        }
        .flex-table .table-head .thead {
          display: inline-block;
          vertical-align: top;
          font-size:1.4em;
          font-weight: bold;
          width: 19%;
          border: 1px solid black;
        }
        .flex-table .table-head .thead:first-child {
          width: 38%;
        }
        .flex-table .table-body .row {
          padding: 0.61805em 1em;
          margin-bottom: 0;
        }
        .flex-table .table-body dl {
          display: inline-block;
          width: 19%;
          vertical-align: top;
        }
        .flex-table .table-body dl.mhead {
          background-color: transparent;
          width: 38%;
        }
        .flex-table .table-body dt {
          display: none;
        }
        .flex-table .table-body dd {
          width: 100%;
          padding:0;
        }
      }