table {
      width: 100%;
      font-size: 1.4em;
      border-spacing: 0;
    }
th {
  text-align: left;
  background-color: #1E90FF;
  font-size: 1.2em;
  padding: 0.61805em 1em;
}
td {
  padding: 0.61805em 1em;
}
tr:nth-child(even){
  background-color: #E0FFFF;
}
tr:nth-child(odd) {
  background-color: #ADD8E6; 
}
